
@model PinAPhoto.Models.Profile.Profile
@{
    ViewData["Title"] = "Profil";
}
<form method="post" asp-controller="Profile" asp-action="SaveChanges" enctype="multipart/form-data">
    <div class="profil_main_site">
        <div class="profile_card">
            <div class="profile_avatar">

            </div>


            <input class="User_Name_update" asp-for="Name" type="text" placeholder="Your Login" style="text-align: center; outline:0; width:300px; height:40px; margin-top:20px;">
            <input class="User_Description" asp-for="Description" type="text" placeholder="Your description" style="text-align: center; outline:0; width:300px; height:100px;">

            <hr />

            <div class="function_on_profile_update">
                <button type="submit" class="saveChanges">
                    <img src="https://img.icons8.com/material-rounded/24/000000/edit--v1.png" width="50" height="50" />
                    <h6>Save changes</h6>
                </button>
            </div>

            <hr />
            <h2>Your Photos</h2>

            <div class="your_photos">
                <img src="/Photo/HYUtdS.jpg" alt="d" width="258" height="258" />
                <img src="/Photo/4k-desktop-wallpaper.-2560×1080.jpg" alt="d" width="258" height="258" />
                <img src="/Photo/78bff52c38128ba1e8fb43cc39a93b71.jpg" alt="d" width="258" height="258" />
                <img src="/Photo/Camera Roll.jpg" alt="d" width="258" height="258" />
                <img src="/Photo/wp6369197.jpg" alt="d" width="258" height="258" />
                <img src="/Photo/Camera Roll.jpg" alt="d" width="258" height="258" />
            </div>
        </div>
    </div>
</form>
