@model PinAPhoto.Models.Image
<form asp-action="AddImage" method="post">

    <input class="form-control" type="text" placeholder="Title" asp-for="Title" />
    <span asp-validation-for="Title" class="text-danger"></span>
    <br />

    <textarea class="form-control" placeholder="Description" asp-for="Description"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
    <br />
    <input class="form-control" type="file" asp-for="ImageData" />
    <span asp-validation-for="ImageData" class="text-danger"></span>
    <br />

    <button class="btn btn-success" type="submit">Upload image</button>
</form> 