@model PinAPhoto.Models.Image



<form asp-action="AddImage" method="post" class="formAddForm">
    <div class="sign_in_main">

        <h2 style="margin-top:20px; margin-bottom:30px">Upload your photo</h2>
        <span asp-validation-for="Title" class="text-danger" style="font-size: smaller; font-weight: 600;"></span><br />
        <input class="title" type="text" placeholder="Title" asp-for="Title" />


        <span asp-validation-for="Description" class="text-danger" style="font-size: smaller; font-weight: 600;"></span>
        <textarea class="textarea" placeholder="Description" asp-for="Description"></textarea>


        <input class="file" type="file" asp-for="ImageData" />
        <br /><span asp-validation-for="ImageData" class="text-danger" style="font-size: smaller; font-weight: 600;"></span>

        <button class="btn" type="submit">Upload photo</button>

    </div>
</form>
