@model PinAPhoto.Models.Image
@{ ViewBag.Title = "Title";
                ViewBag.ImageData = "ImageData";
                ViewBag.Description = "Description";
                ViewBag.GID = "GID"; }
<form asp-action="EditImage" method="post" asp-route-Id="@Model.GID">
    <div class="sign_in_main">
        <h2 style="margin-top:20px; margin-bottom:30px">Edit your photo</h2>
        <span asp-validation-for="Title" class="text-danger" style="font-size: smaller; font-weight: 600;"></span><br />
        <input class="title" type="text" placeholder="Title" asp-for="Title" />
        
         <span asp-validation-for="Description" class="text-danger" style="font-size: smaller; font-weight: 600;"></span>
        <textarea class="textarea" placeholder="Description" asp-for="Description"></textarea>

        <input class="form-control" type="text" asp-for="ImageData" readonly="readonly" style="width: 270px; text-align: center; margin-left: 40px; "/>
        <br /><span asp-validation-for="ImageData" class="text-danger" style="font-size: smaller; font-weight: 600;"></span>
        
        <button class="btn btn-success" type="submit">Confirm edit</button>
    </div>
</form>