@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model PinAPhoto.Models.Image
@{
    ViewBag.Title = "Title";
    ViewBag.ImageData = "ImageData";
    ViewBag.Description = "Description";
    ViewBag.GID = "GID";
}
<form asp-action="EditImage" method="post" asp-route-Id="@Model.GID">
    <input class="form-control" type="text" placeholder="Title" asp-for="Title" />
    <span asp-validation-for="Title" class="text-danger"></span>
    <br />
    <textarea class="form-control" placeholder="Description" asp-for="Description"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
    <br />
    <input class="form-control" type="text" asp-for="ImageData" readonly="readonly" />
    <span asp-validation-for="ImageData" class="text-danger"></span>
    <br />
    <button class="btn btn-success" type="submit">Upload image</button>
</form>